<%= simple_form_for(@post) do |f| %>

<%= f.input :picture, label: 'Url de votre image'%>

<%= f.input :description, label: "Description de l'image"%>

<br/>

<%= f.association :user,label: "Votre email"%>



<br/>

<button type="button" class="btn">

<%= f.submit "Publier"%>

</button>
  
<% end %>
