<%= simple_form_for(@post) do |f| %>

<%= f.input :picture %>

<%= f.input :description %>

<br/>

<%= f.association :user %>

<br/>

<button type="button" class="btn">

<%= f.submit "Inscription" %>

</button>
  
<% end %>
