<div class="div-total">

<div class="div-right">
<button class="btn btn-title">
<%= link_to "Nouveau post", new_post_path, class: "a a-title" %>
</button>
        <p> Votre compte : <%= link_to current_user.email, edit_user_registration_path, class: "a" %> </p>
        <br/>
        <button class="btn btn-pink">
        <%= link_to "Se déconnecter", destroy_user_session_path, class: "a a-white a-logout", method: :delete %>
        </button>


</div>

<div class="div-left">
<div id="posts" class="div_post">
  <% @posts.each do |post| %>
    <%= image_tag(post.picture, class: 'img-fluid rounded float-right') %>
    <br/>

    <%= post.user %>
    <p class="text-grey"><%= post.description %></p>

    
   <p>
    <div class="btn btn-blue">
      <%= link_to "Voir le post", post ,class: "a a-white" %>
      <br/>
    </div>
</p>
  <% end %>
</div>

</div>

</div>





