

<nav class="navbar navbar-dark bg-dark bg-gradient">
  <a class="navbar-brand" href="#">
  FLOW
  </a>
</nav>


<link rel="stylesheet" href="/Users/franciab/Desktop/flow/node_modules/mdb-ui-kit/css/mdb.min.css" />


<%= link_to "Nouveau post", new_post_path, class: "a a-title" %>

<div id="posts" class="div_post">
  <% @posts.each do |post| %>
    <%= image_tag(post.picture, class: 'img-fluid rounded float-right') %>
    <br/>

    <%= post.user %>
    <p class="text-grey"><%= post.description %></p>

    
   
    <div class="btn btn-blue">
      <%= link_to "Voir le post", post ,class: "a a-white" %>
      <br/>
    </div>
    </p>
  <% end %>
</div>


