




<button class="btn btn-title">
<%= link_to "Nouveau post", new_post_path, class: "a a-title" %>
</button>

<br/>
<div id="posts" class="div_post">
  <% @posts.each do |post| %>
    <%= image_tag(post.picture, class: 'img-fluid rounded float-right') %>
    <br/>

    <%= post.user %>
    <p class="text-grey"><%= post.description %></p>

    
   
    <div class="btn btn-blue">
      <%= link_to "Voir le post", post ,class: "a a-white" %>
      <br/>
    </div>
    </p>
  <% end %>
</div>





