<p style="color: green"><%= notice %></p>


<%= image_tag(@post.picture) %>
<br/>
<%= @post.description %>



<div>
  <%= link_to "Modifier le post", edit_post_path(@post) %> |
  <%= link_to "Retour à la page d'accueil", posts_path %>

  <%= button_to "Supprimer le post", @post, method: :delete %>
</div>
