<!DOCTYPE html>
<html>
  <head>
    <title>Flow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/rails-ujs@5.2.7/lib/assets/compiled/rails-ujs.min.js"></script>
  

  </head>

  <body>
    <div class="container">
      <%= yield %>

      <% if user_signed_in? %>
        <p> Ton email : <%= link_to current_user.email, edit_user_registration_path %> </p>
        <br/>
        <button class="btn btn-danger text-white">
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </button>
      <% else %>
   
      <% end %>
    </div>
  </body>
</html>
