<!DOCTYPE html>
<html>
  <head>
    <title>Flow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/rails-ujs@5.2.7/lib/assets/compiled/rails-ujs.min.js"></script>
  

  </head>

  <body>
    
    <div class="container-fluid ">
    <div class="square-shadow">
      <%= yield %>

      <br/>

      </div>
      </div>
      <footer class="footer fixed-bottom bg-black"> <p class="flow-footer"> FLOW </p> </footer>

  </body>
 
</html>
